h2{
   color: rgb(38, 28, 220);
}

.guzel{
   /*color: blueviolet; */
/* styling Hook */
color: var( --textRengi , rgb(12, 12, 11));
   background-color: rgb(191, 191, 190);
   font-family: Arial, Helvetica, sans-serif;
   font-style: italic;
   display: inline-block;
}